{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            
            <li class="nav-item">
              <a href="{% url 'add_staff' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Staff
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'manage_staff' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Manage Staff
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'add_student' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Student
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'manage_student' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Manage Student
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'add_course' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Course
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'manage_course' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Manage Course
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'add_subject' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Subject
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'manage_subject' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Manage Subject
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'add_staff' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  View Attendance
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'add_staff' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Student Feedback
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'add_staff' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Staff Feedback
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'add_staff' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Student Leave
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'add_staff' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Staff Leave
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'add_staff' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  New Menu
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>